.header {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  height: 70px;
  width: calc(100% - 70px);
  border-bottom: 1px solid #e0e0e0;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-left: 10px;
  border: 1px solid transparent;
  background: white;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  z-index: 2;
  cursor: pointer;
}

.profile:hover {
  border: 1px solid #6f52ed;
}

.profile > * {
  margin-right: 10px;
}

.profile-name {
  color: #3d2d84;
  font-weight: bold;
}

.profile-icon {
  background: #6f52ed;
  width: 28px !important;
  height: 28px !important;
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.profile-more-icon {
  color: #bdbdbd;
}

.profile:hover .profile-more-icon {
  color: #6f52ed;
}

.noti-icon-container {
  height: 70px !important;
  width: 140px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noti-icon {
  color: #bdbdbd;
}

.profile-extras {
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 0px;
  background: #6f52ed;
  z-index: 1;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
}

.profile-extras-open {
  height: 170px;
}

.profile-more {
  position: absolute;
  right: 0;
  top: 0px;
  height: 50px;
  width: 135px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  z-index: 1;
  box-sizing: border-box;
}

.profile-more-open {
  background: #6f52ed;
  color: white;
  position: absolute;
  right: 0;
  top: 70px;
  height: 50px;
  width: 135px;
  z-index: 1;
}

.profile-settings {
  color: white;
  position: absolute;
  right: 0;
  top: 0px;
  height: 50px;
  width: 135px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  z-index: 1;
  box-sizing: border-box;
}

.profile-settings-open {
  background: #6f52ed;
  position: absolute;
  right: 0;
  top: 120px;
  height: 50px;
  width: 135px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  z-index: 1;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.logout-btn:hover {
  background: #6349d5;
}

.logout-btn > svg {
  margin-right: 5px;
}

.logout-icon {
  width: 18px !important;
  height: 18px !important;
}
