.header {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  height: 70px;
  width: calc(100% - 70px);
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}



.noti-icon-container {
  height: 70px !important;
  width: 140px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noti-icon {
  color: #bdbdbd;
}
