.filter-section-container {
  margin: 30px 15px 60px 60px;
}

.filter-section {
  position: relative;
  width: 170px;
  height: 100%;
}

.filter-title {
  padding: 14px 40px 14px 16px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.filter-body {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 121px);
  padding-top: 14px;
  padding-left: 16px;
}

.filter-actions {
  position: absolute;
  height: 56px;
  padding: 0px 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  border-top: 1px solid rgba(224, 224, 224, 1);
}
