.directory-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.directory-actions {
  display: flex;
  align-items: center;
  margin: 30px 60px 0px 60px;
}

.directory-display {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.new-member-btn > span {
  width: 150px !important;
}

.new-member-label {
  white-space: nowrap;
}
